{% include 'header.html.twig' %}

<div class="row">
    <div class="col-12">
        <h1>Files <small class="text-muted">{{ project.getName() }}</small></h1>
        
        <p>
            <a class="btn btn-primary" href="{{ path('upload', {'slug': project.getSlug()}) }}"><i class="fa fa-upload"></i> Upload</a>
        </p>

        {% if files|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Uploaded on</th>
                <th>Downloads</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td><a href="{{ path('download', {'projectSlug': project.getSlug(), 'fileName': file.getName()}) }}">{{ file.getName() }}</a></td>
                    <td>{{ file.getUploadTime().format('Y-m-d H:i:s') }}</td>
                    <td>{{ file.getDownloads().count() }}</td>
                    <td>
                        <a class="btn btn-light" href="{{ path('edit_file', {'projectSlug': project.getSlug(), 'fileName': file.getName()}) }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" href="{{ path('delete_file', {'projectSlug': project.getSlug(), 'fileName': file.getName()}) }}"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="lead">Nothing found.</p>
        {% endif %}
    </div>
</div>

{% include 'footer.html.twig' %}
